{% extends 'base.html.twig' %}

{% block title %}Hello MovieDetailsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>{{ movie.title }}</h2>
    <p>
        Genres :
    {% for genre in movie.genres %}
        {{ genre.name }}{% if not loop.last %}, {% endif %}
    {%  endfor %}
    </p>
    <p>Année : {{ movie.releasedAt|format_datetime("full", "none", locale="fr") }}</p>

</div>
{% endblock %}
