{% extends 'base.html.twig' %}

{% block title %}Hello ListMovieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for movie in movies %}
    <div>
        <p><a href="{{ path('app_movie_details', {'id': movie.id}) }}">{{ movie.title }}</a>
        {% if is_granted('delete', movie) %}<a href="{{ path('app_movie_delete', {'id': movie.id}) }}"> - DELETE</a>{% endif %}
        </p>
    </div>
    {%  endfor %}
</div>
{% endblock %}